<div class="row">
  <div class="card col-sm m-1" style="width: 18rem;">
    <img src="/images/cat-tower.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cat Tower</h5>
      <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="clearfix">
        <div class="price pull-left">$199</div>
        <a href="#" class="btn btn-success pull-right">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="card col-sm m-1" style="width: 18rem;">
    <img src="/images/cat-tower.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cat Tower</h5>
      <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="clearfix">
        <div class="price pull-left">$199</div>
        <a href="#" class="btn btn-success pull-right">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="card col-sm m-1" style="width: 18rem;">
    <img src="/images/cat-tower.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cat Tower</h5>
      <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="clearfix">
        <div class="price pull-left">$199</div>
        <a href="#" class="btn btn-success pull-right">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-sm m-1" style="width: 18rem;">
    <img src="/images/cat-tower.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cat Tower</h5>
      <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="clearfix">
        <div class="price pull-left">$199</div>
        <a href="#" class="btn btn-success pull-right">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="card col-sm m-1" style="width: 18rem;">
    <img src="/images/cat-tower.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cat Tower</h5>
      <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="clearfix">
        <div class="price pull-left">$199</div>
        <a href="#" class="btn btn-success pull-right">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="card col-sm m-1" style="width: 18rem;">
    <img src="/images/cat-tower.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cat Tower</h5>
      <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="clearfix">
        <div class="price pull-left">$199</div>
        <a href="#" class="btn btn-success pull-right">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
